build/
libs/*
!libs/HolographicDisplays.jar
!libs/BlueMap*.jar
!libs/gradle/
.idea/
.gradle/
testServer/logs/
testServer/**/*.log
testServer/**/*.mdmp
testServer/**/*.dat_old
testServer/cache/
testServer/libraries/
testServer/versions/
testServer/plugins/*/
testServer/paper.jar
!testServer/plugins/UnknownNetworkCore/
.DS_Store
shared/discord-config.txt
shared/tokens.txt
testPRoxy/proxy.log.0
testProxy/logs/
testProxy/plugins/
testProxy/lang/
testProxy/forwarding.secret