build/
libs/*
!libs/HolographicDisplays.jar
!libs/BlueMap*.jar
!libs/gradle/
.idea/
.gradle/

# testServer ignores and exceptions
testServer/*
testServer/config/
testServer/plugins/*
!testServer/plugins/UnknownNetworkCore/
testServer/plugins_SPM/*
!testServer/plugins_SPM/UnknownNetworkCore/
!testServer/world/data/scoreboard.dat
!testServer/world/datapacks/
!testServer/world/playerdata/*.dat
!testServer/*/paper-world.yml
!testServer/bukkit.yml
!testServer/eula.txt
!testServer/ops.json
!testServer/paper.jar
!testServer/server.properties
!testServer/spigot.yml
!testServer/whitelist.json

.DS_Store
shared/discord-config.txt
shared/tokens.txt

# testProxy ignores and exceptions
testProxy/*
testProxy/plugins/UnknownNetworkCore.jar
!testProxy/proxy.log.0
!testProxy/velocity.toml
!testProxy/plugins/