build/
libs/*
!libs/HolographicDisplays.jar
!libs/BlueMap*.jar
!libs/gradle/
.idea/
.gradle/
testServer/logs/
testServer/**/*.log
testServer/**/*.mdmp
testServer/**/*.dat_old
testServer/cache/
testServer/libraries/
testServer/versions/
testServer/plugins/*/
!testServer/plugins/UnknownNetworkCore/
.DS_Store
shared/discord-config.txt
shared/tokens.txt